[package]
name = "tls-api-test"
version = "0.1.20"
authors = ["Stepan Koltsov <stepan.koltsov@gmail.com>"]
description = "TLS API without implementation"
license = "MIT/Apache-2.0"
repository = "https://github.com/stepancheg/rust-tls-api/"
keywords = ["tls"]

[badges]
travis-ci = { repository = "https://github.com/stepancheg/rust-tls-api/", branch = "master" }

[dependencies]
tls-api = { path = "../api", version = "=0.1.20" }
log        = "0.4"
env_logger = "0.5"

pem        = "0.5"
webpki     = "0.17"
untrusted  = "0.6"

futures       = "0.1"
tokio-core    = "0.1"
tokio-io      = "0.1"
tokio-tls-api = { path = "../tokio-tls-api", version = "=0.1.20" }
